spring:
  application:
    name: User-Service
  config:
    activate:
      on-profile: prod
  cache:
    type: redis
    cache-names: redis-cache
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
  datasource:
    url: jdbc:postgresql://localhost:5433/stroy1click
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  messages:
    basename: messages
    encoding: UTF-8

otel:
  service:
    name: "user-service"
  traces:
    exporter: "otlp"
    sampler: "always_on"
  metrics:
    exporter: "otlp"
    export:
      interval: 5000
  logs:
    exporter: "otlp"
  exporter:
    otlp:
      protocol: "grpc"
      endpoint: "http://localhost:4317"

logging:
  file:
    path: logs

server:
  port: 8080
web:
  service:
    uri: http://localhost:3000

resilience4j:
  ratelimiter:
    instances:
      userLimiter:
        limitForPeriod: 100
        limitRefreshPeriod: 1s